//footer component
#footer {
  color: white;
  background: black;
  margin: 100px 0px 0px 0px;
  padding: 10px 0px 30px 0px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  span {
    color: #f54768;
  }

  #upIcon {
    position: absolute !important;
    right: 10px;
    top: 10px;
  }

  h3 {
    color: #60d9fe;
    font-size: 2rem;
    position: absolute;
    top: -20px;
    left: 10px;
    margin: 0px;
  }

  p {
    margin: 25px 20px 0px 0px;
  }

  .socialLinks {
    margin-top: 25px;
    width: 100%;
    max-width: 800px;
    justify-content: space-evenly;

    a {
      color: white;
      overflow: hidden;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-content: center;
      width: 100px;
    }

    svg {
      position: relative;
      z-index: 2;
      width: 32px;
      height: 32px;
    }

    .backg {
      height: 42px;
      width: 42px;
      // left: -33%;
      position: absolute;
      transition: 0.3s;
    }
  }
}
