@font-face {
  font-family: "Shrikhand";
  font-display: swap;
  src: local("Shirkhand"),
    url("../assets/Shrikhand-Regular.otf") format("truetype");
}

// Global Styles Variables
$green: #8bd76b;
$yellow: #eef46e;
$red: #f54768;
$degreeShift: -15deg;
