@font-face {
  font-family: "Shrikhand";
  font-display: swap;
  src: local("Shirkhand"),
  //Shrikhand-Regular.otf as font file
    url("../assets/Font.otf") format("truetype");
}

// Global Styles Variables
$green: #8bd76b;
$yellow: #eef46e;
$red: #f54768;
$degreeShift: -15deg;
