@font-face {
  font-family: "Summer Hearts";
  font-display: swap;
  src: local("Summer Hearts"),
    url("../assets/SummerHearts-Regular.otf") format("truetype");
}

$green: #8bd76b;
$yellow: #eef46e;
$red: #f54768;
$degreeShift: -15deg;

@mixin glassmorphism {
  background: rgba(203, 203, 203, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.096);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}
@mixin perspectiveShift {
  -ms-transform: rotateY($degreeShift);
  -moz-transform: rotateY($degreeShift);
  -o-transform: rotateY($degreeShift);
  -webkit-transform: rotateY($degreeShift);
  transform: rotateY($degreeShift);
}

.slideList {
  height: 600px;
  min-width: 100%;

  li {
    height: 100px;
    top: random(100);
    max-width: 180px;
    @include glassmorphism;
  }
}
.fadeIn {
  animation: fadeIn 2s infinite;
}
body {
  margin: 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121212 url("../assets/topography.svg");
  background-size: cover;

  .container {
    margin-top: 100px;
    margin-left: 100px;
    // border: 7px solid darkslategray;
    overflow-x: hidden;

    &:hover {
      cursor: grab;
    }

    &:active,
    &:focus {
      cursor: grabbing;
    }
  }

  .images {
    display: flex;
    will-change: transform;

    & > *:not(:last-child) {
      margin-right: 20px;
    }

    img {
      display: block;
      height: 600px;
      min-width: 370px;
      object-fit: cover;
      object-position: center;
      // border: 10px solid maroon;
      pointer-events: none;
      user-select: none;
    }
  }

  h1 {
    // font-family: Summer Hearts, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 4rem;
    position: relative;
    // animation: glow 2s ease-in-out infinite alternate;
    &::after,
    &::before {
      border-left-width: 10px;
      border-right-width: 10px;
      border-bottom-width: 10px;
      display: block;
      position: absolute;
      left: -1rem;
      transform: rotate(60deg);
      bottom: 0;
      content: "";
      border-left-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      transform-origin: center;
      border-bottom-color: $yellow;
    }

    &::after {
      left: 0px;
      bottom: -1px;
      transform: rotate(10deg);
      border-bottom-color: $green;
    }
  }
}
@keyframes glow {
  0% {
    text-shadow: 1px 1px 3px rgba(197, 212, 210, 0.5);
  }
  100% {
    text-shadow: 1px 1px 3px rgb(190, 190, 190);
  }
}
#footer {
  color: white;
  text-align: right;
  margin: 3px 10px 5px 0px;
}

#searchBar-label {
  color: white !important;
}
#searchBar {
  min-width: 320px;
  display: flex;
  color: white;
}

.zacOverwrite {
  width: 100%;
  .MuiListItem-button {
    display: inline-flex;
    align-items: unset;
    &:hover {
      background-color: rgba(230, 230, 230, 0.5);
    }
  }

  svg {
    filter: invert(1);
  }
}
h1,
h2 {
  margin: 0px;
}
span {
  display: inline-flex;
}
#root {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  .homePosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(auto, 1fr);
    h1 {
      grid-area: 1 / 1 / 2 / 3;
      margin-bottom: 20px;
    }
    .div2 {
      grid-area: 2 / 1 / 3 / 2;
      margin: 40px;
      margin-top: 8rem;
    }
    .div3 {
      grid-area: 2 / 2 / 3 / 3;
      margin: 20px;
    }
    img {
      width: 100%;
      max-width: 800px;
      min-width: 300px;
      margin: 0 auto;
      border-radius: 10px;
    }
  }
  .homeProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    h1 {
      grid-area: 1 / 1 / 2 / 3;
      margin-bottom: 20px;
    }
    .div2 {
      grid-area: 2 / 1 / 3 / 2;
      margin: 20px;
    }
    .div3 {
      grid-area: 2 / 2 / 3 / 3;
      margin: 40px;
      margin-top: 8rem;
    }
    margin: 0 auto;

    max-width: 1200px;
    overflow-x: visible !important;
    p,
    a {
      color: white;
    }
    img {
      width: 100%;
      max-width: 800px;
      min-width: 300px;
      margin: 0 auto;
      border-radius: 10px;
    }
    h1 {
      margin-left: 50px;
      justify-self: start;
    }
  }
  .Home {
    margin: 0 auto;
    margin-top: 15vh;
    height: 90vh;
    // height: auto;
    width: 100%;
    max-width: 1200px;
    font-size: calc(15px + 2vmin);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.077);
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, auto));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      margin-left: 25px;

      h1 {
        text-align: left;
        animation: fadeIn 2s;
      }
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
      place-self: center;
      margin-left: 2vw;
      img {
        width: 100%;
        position: relative;
        border-radius: 10px;
        opacity: 0;
        animation: fadeIn 1s ease-in 1.4s forwards;
        mask: url("https://raw.githubusercontent.com/supahfunk/supah-codepen/master/video-clip-mask.png");
        mask-size: 800% 110%;
        mask-position: 90% 50%;
        @include perspectiveShift;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
    }
    .div2,
    .div4 {
      transform: perspective(1000px);
    }

    .div3 {
      grid-area: 2 / 1 / 3 / 2;
      font-size: 1rem;
      opacity: 0;
      animation: fadeIn 2s forwards;
      animation-delay: 3s;
      #scroll {
        position: relative;
        left: -60px;
        top: 100px;
        transform: rotate(90deg);
        width: 200px;
      }
      svg {
        stroke: rgba(255, 255, 255, 0.5);
        stroke-dasharray: 115;
        stroke-dashoffset: 115;
        stroke-width: 3;
        animation: dash 4s ease-in-out alternate-reverse infinite;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
    .div4 {
      grid-area: 2 / 2 / 3 / 3;
      display: inline-flex;
      position: relative;
      top: 5px;
      right: -20%;
      opacity: 0;
      animation: slideDown 2s 3s forwards;
      @include perspectiveShift;
      a {
        height: 50px;
      }
    }

    p {
      text-align: "left";
      animation: slideDown 2s forwards;
      animation-delay: 0.68s;
      opacity: 0;
      z-index: 10;
      width: 400px;
    }

    span {
      z-index: 10;
      text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.63);
    }

    a {
      color: white;
      text-decoration: none;
      transition: 1s;
      margin: 0px 15px;
      display: inline-flex;
      border-bottom: 1px solid;
    }

    a:nth-child(1):hover {
      border-bottom: 1px solid $green;
    }

    a:nth-child(2):hover {
      border-bottom: 1px solid $red;
    }

    a:nth-child(3):hover {
      border-bottom: 1px solid $yellow;
    }

    @for $i from 1 through 3 {
      a:nth-child(#{$i}) {
        animation: hideToShow ($i) * 0.8s linear forwards;
      }
    }
  }
}
// animations for home page title
@keyframes hideToShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-150px);
  }
  90% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.MuiFormControl-root {
  border: 1px solid #ffffff36 !important;
  max-width: 320px;
}

h1 {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.about,
.blog {
  display: inline-flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
}

//about page
.about {
  padding: 20px 20px 2px 20px;

  h1 {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
    color: $yellow;

    &::after {
      border-bottom-color: $green;
    }

    &::before {
      border-bottom-color: $red;
    }
  }

  span {
    display: inline-flex;
    align-items: baseline;

    svg {
      margin-right: 3px;
    }
  }

  strong {
    font-family: Summer Hearts, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.35rem;
    margin-top: -10px;
    color: $green;
    transform: rotate(20deg);
    line-height: 0px;
  }
}

p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 570px) {
  .Home {
    p {
      margin-top: 70px !important;
    }

    h1 {
      font-size: 2.4rem !important;
    }
  }
}

@media only screen and (max-width: 405px) {
  .Home {
    h1 {
      font-size: 1.8rem !important;
    }

    span {
      font-size: 1.2rem;
    }
  }
}
