body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.blog{
  .MuiSvgIcon-root{
    filter: invert(1);
  }
}
.projects{
  .MuiSvgIcon-root{
    fill: black;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

#root {
  overflow-x: hidden;

  //home page
  .App {
    background:#121212 url('../assets/headerBackground.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(15px + 2vmin);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.077);
    p{
      margin:120px 30px 0px 30px;
      text-align:'left';
      animation: slideRight 1.8s cubic-bezier(0.0,0.1,0.25,1);
    }
    span{
      padding-top: 15px;
    }
    a{
      color:white;
      text-decoration: none;
      transition: .4s;
    }
    a:hover{
      color: rgb(199, 198, 198);
    }
    @for $i from 1 through 3 {
      a:nth-child(#{$i}) {
        animation: hideToShow ($i)* .8s linear forwards;
      }
    }

  }
  
}
@keyframes hideToShow{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes slideRight{
  from{
    transform: translate3d(50vw,0px,0px);
    opacity: 0;
  }
  to{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.MuiFormControl-root {
  border: 1px solid #ffffff36 !important;

}

#searchBar-label {
  color: white !important;
}

.article {
  max-width: 600px;
  margin: 0 auto;

  h1 {
    color: black;
  }
}

.projects{
  border-top: 1px solid grey;
  background: #121212;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  color: white;
}

//blog page css
.blog {
  background: #121212;
  padding-top:10px;
  min-height: 100vh;
  padding: 10px;
  h1 {
    color: white;
  }

  .content {
    padding: 25px;
    max-width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px 20px;
    justify-items: center;
  }
}
.content{
  padding: 10px;

  background: #121212;
  min-height: 100vh;
  a,h1{
    color: white;
  }
  .article{
    color: white;
  }
}









.MuiFormControl-fullWidth{
  width:  80% !important;
}
#searchBar{
  min-width: 320px;
}
h1{
  margin-top: 10px;
  color: white;
  text-align: center;
}
.cardContainer{
  display:inline-flex;
  flex-wrap:wrap;
  justify-content: center;
  max-width: 1000px;
}

.card{
  background: rgba(51, 51, 51, 0.356);
  width: 320px;
  margin: 5px 5px 10px 5px;
  color: white;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  p{
    text-align: left;
  }
  h3{
    margin: 8px;
    text-shadow: 2px 2px #252525b0;
    text-align: left;
  }
  img{
    height:200px;
    width:300px;
  }

  .actions{
    align-self: flex-start;
    text-align: left;
    margin: 5px;
    button{
      color: #61dafb;;
      border: 1px solid #61dafb;
      margin: 1px;
    }
  }
}



