.projects{
    background: #282c34;
}
.MuiFormControl-fullWidth{
    width:  80% !important;
}
h1{
    margin: 0;
    color: white;
}
.cardContainer{
    display:inline-flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 1000px;
}

.card{
    background: rgba(51, 51, 51, 0.356);
    width: 320px;
    margin: 5px 5px 10px 5px;
    color: white;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.card > p{
    text-align: left;
}
.card > .actions{
    align-self: flex-start;
    text-align: left;
    margin: 5px;
}
.actions > button{
    color: #61dafb;;
    border: 1px solid #61dafb;
}
.card > h3{
    margin: 8px;
    text-shadow: 2px 2px #252525b0;
    text-align: left;
}
.card > img{
    height:200px;
    width:300px;
}




