.App {
  text-align: center;
  display: inline-flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
}



.App-header {
  background: #282c34 url('./assets/headerBackground.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

